/**
 * Les principales couleurs.
 */
/**
 * text color.
 */
/**
 * space section
 */
/**
 * les variantes des couleurs ci-dessus, pour bootstrap
 */
/**
 * Bootstrap
 */
/**
 * md-bootstrap
 */
/**
 * defaut/model/socialmediaicons.scss
 */
/**
 * Boostrap load functions and mixins.
 * Ce chemin est valide pour le loader uniqueùent.
 */
/**
 * Les principales couleurs.
 */
/**
 * text color.
 */
/**
 * space section
 */
/**
 * les variantes des couleurs ci-dessus, pour bootstrap
 */
/**
 * Bootstrap
 */
/**
 * md-bootstrap
 */
/**
 * include mixins
 */
/**
 * Chargement progressif
 */
/**
 * Affichage de la langue.
 * Model simple.
 */
/**
 *
 */
/**
 * Card rotation
 */
/**
 * la police
 */
/**
 * Defzult style for drupal and bootstrap.
 */
/**
 * translation on hover
 */
/**
 * Before cover
 */
/**
 * Before cover
 */
/**
 *  pas de retour à la ligne
 */
/**
 *  mixin for multiline limit text css
 */
/*!
 * .list-element{@include list-element(($paddingY:10px, $paddingX:5px, $borderW:1px));}
 */
/**
 *  Images area to preload,
 *  on ajoute sur la div contenant l'image
 */
/**
 *
 */
/**
 * Affet Ombre
 */
/**
 * Pricelist
 */
article.node-logment-100px {
  max-width: 900px;
  margin: auto; }
  article.node-logment-100px .field {
    margin-bottom: 2em; }
    article.node-logment-100px .field .field__label {
      font-weight: 600; }
  article.node-logment-100px .node__content {
    display: flex;
    flex-wrap: wrap; }
    article.node-logment-100px .node__content > * {
      flex: 0 0 50%;
      width: 50%;
      border-bottom: 1px dashed #d0cfcf;
      padding-bottom: 10px;
      white-space: normal;
      padding-right: 1em;
      word-break: break-word; }
      article.node-logment-100px .node__content > *:last-child {
        border-bottom: 0px dashed #d0cfcf;
        padding-bottom: 0;
        margin-bottom: 0; }
      article.node-logment-100px .node__content > *:last-child:nth-child(even) {
        border-bottom: 0px dashed #d0cfcf;
        padding-bottom: 0;
        margin-bottom: 0; }
    article.node-logment-100px .node__content > .field--type-image {
      flex: 0 0 100%;
      width: 100%;
      border-bottom: 0px dashed #d0cfcf;
      padding-right: 0; }
      article.node-logment-100px .node__content > .field--type-image .owl-dot {
        padding-top: 80px;
        position: relative;
        width: 100px;
        overflow: hidden; }
        article.node-logment-100px .node__content > .field--type-image .owl-dot img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 82px;
          min-width: 100px; }
  article.node-logment-100px .node__meta {
    display: none; }
  article.node-logment-100px .wbu_content {
    margin-bottom: 1em; }
    article.node-logment-100px .wbu_content ul {
      display: block; }
  article.node-logment-100px .wbu_content.localisation {
    display: flex;
    align-items: center; }
    article.node-logment-100px .wbu_content.localisation .field__label {
      display: none; }
    article.node-logment-100px .wbu_content.localisation .field {
      margin-bottom: 0; }
  article.node-logment-100px .wbu_content.localisation {
    margin-bottom: 0; }
    article.node-logment-100px .wbu_content.price .field__label {
      display: none; }
    article.node-logment-100px .wbu_content.price .field__item {
      font-size: 2.5em; }

article.node-header-static-image h1, article.node-header-static-image h2, article.node-header-static-image h3 {
  color: #2fbd3c; }
