#drupal-off-canvas {
	width: auto !important;
}
.layout-builder__add-block:hover .visually-hidden{
	clip: auto;
    height: auto;
    width: auto;
    display: inline-block;
    padding: 0rem 0.5rem;
    font-style: italic;
    color: #6c8594;
}
.layout-builder {
  color: #000; }
  .layout-builder .visible-on-admin {
    display: block !important; }
  .layout-builder-block {
    padding: 0.5em;
    color: #000;
    letter-spacing: 0;
    font-size: 14px; }
  .layout-builder__add-block {
    padding: 10px 0;
    line-height: 14px; }
    .layout-builder__link--add {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0;
      text-indent: 0;
      margin: 0;
      color: #000; }
/**
 * ajout de la couleur blanche sur panel de selection de layout/bloc
 */
.layout-selection .layout-icon *:not(svg) {
	color:#FFF;
}