/**
 * Les principales couleurs.
 */
/**
 * Text color.
 */
/**
 * Space section
 */
/**
 * les variantes des couleurs ci-dessus, pour bootstrap
 */
/**
 * Bootstrap
 */
/**
 * md-bootstrap
 */
/**
 * Defaut/model/socialmediaicons.scss
 */
/*
 body {
 font-size: 1em;
 h1 {
 font-weight: 700;
 }
 h2,
 h3 {
 font-weight: 600;
 }
 a {
 text-decoration: none !important;
 }
 dl,
 ol,
 p,
 ul {
 margin-top   : 0;
 margin-bottom: 1.8em;
 }
 .hidden {
 display: none !important;
 }
 }
 /**/
