/**
 * Boostrap load functions and mixins.
 * Ce chemin est valide pour le loader uniqueùent.
 */
/**
 * Les principales couleurs.
 */
/**
 * text color.
 */
/**
 * space section
 */
/**
 * les variantes des couleurs ci-dessus, pour bootstrap
 */
/**
 * Bootstrap
 */
/**
 * md-bootstrap
 */
/**
 * include mixins
 */
/**
 * Chargement progressif
 */
/**
 * Affichage de la langue.
 * Model simple.
 */
/**
 * 
 */
/**
 * Card rotation
 */
/**
 * la police
 */
/**
 * Defzult style for drupal and bootstrap.
 */
/**
 * translation on hover
 */
/**
 * Before cover
 */
/**
 * Before cover
 */
/**
 *  pas de retour à la ligne
 */
/**
 *  mixin for multiline limit text css
 */
/*!
 * .list-element{@include list-element(($paddingY:10px, $paddingX:5px, $borderW:1px));}
 */
/**
 *  Images area to preload,
 *  on ajoute sur la div contenant l'image
 */
/**
 *
 */
/**
 * Affet Ombre
 */
/**
 * Pricelist
 */
body {
  color: #5a5a5a; }

h1, .h1 {
  font-size: 1.8em; }
@media only screen and (min-width: 769px) {
  h1, .h1 {
    font-size: 2.5em; } }

h2, .h2 {
  font-size: 1.4em; }
@media only screen and (min-width: 769px) {
  h2, .h2 {
    font-size: 2em; } }

h3, .h3 {
  font-size: 1.2em; }
@media only screen and (min-width: 769px) {
  h3, .h3 {
    font-size: 1.75em; } }

h4, .h4 {
  font-size: 1em; }
@media only screen and (min-width: 769px) {
  h4, .h4 {
    font-size: 1.5em; } }

h5, .h5 {
  font-size: 1em; }
@media only screen and (min-width: 769px) {
  h5, .h5 {
    font-size: 1.25em; } }

h6, .h6 {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.4em; }

.dialog-off-canvas-main-canvas > header.header {
  position: relative;
  z-index: 2; }

.site-header-m2 {
  position: relative;
  font-size: 0.938em;
  background: #FFF; }
  .site-header-m2.fixe-menu {
    position: fixed;
    width: 100%;
    top: 0; }
  .site-header-m2::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(0, 0, 0, 0.1); }
  .site-header-m2 .items {
    flex-wrap: wrap; }
  @media only screen and (min-width: 992px) {
    .site-header-m2 .items {
      flex-wrap: unset; } }
@media only screen and (max-width: 575px) {
  .site-header-m2 .items > .item.center {
    order: 3;
    width: 100%;
    flex: 0 0 100%; } }
.site-header-m2 .items > .item.right {
  margin-top: 1.2em; }
@media only screen and (min-width: 992px) {
  .site-header-m2 .items > .item.right {
    margin-top: 0; } }
.site-header-m2 .items > .item > div {
  align-items: baseline !important; }
@media only screen and (min-width: 992px) {
  .site-header-m2 .items > .item > div {
    align-items: center !important; } }
.site-header-m2 img.logo {
  margin: 0.5em;
  max-width: 120px;
  max-height: 60px; }
.site-header-m2 .navbar {
  padding: 0;
  width: 100%; }
@media only screen and (min-width: 576px) {
  .site-header-m2 .navbar {
    width: auto; } }
.site-header-m2 .navbar button.navbar-toggler {
  position: absolute;
  top: -4em;
  left: 50%;
  margin: 1em 0; }
@media only screen and (min-width: 576px) {
  .site-header-m2 .navbar button.navbar-toggler {
    position: relative;
    top: auto;
    left: auto; } }
.site-header-m2 .navbar .nav-item a {
  color: #000000;
  font-weight: 600; }
  .site-header-m2 .navbar .nav-item a:hover, .site-header-m2 .navbar .nav-item a.active {
    color: #f51a64; }
.site-header-m2 .navbar .nav-item > a {
  padding: 0.8em 1em; }
@media only screen and (min-width: 992px) {
  .site-header-m2 .navbar .nav-item > a {
    padding: 2.2em 1em; } }
.site-header-m2 .navbar .dropdown-item {
  padding: 0.8em 1em; }
.site-header-m2 .navbar-brand {
  margin-right: 0;
  /**
   * select-langue
   */ }
  .site-header-m2 .select-langue .nav-link {
    padding: 0.3em;
    color: #5a5a5a;
    text-transform: uppercase; }
  .site-header-m2 .select-langue .nav-link.active, .site-header-m2 .select-langue .nav-link.is-active {
    color: #f51a64; }
  .site-header-m2 .select-langue a.nav-link {
    text-transform: lowercase; }
.site-header-m2.is_absolute {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background: rgba(255, 255, 255, 0.14); }
  .site-header-m2.is_absolute .nav-item a {
    color: #FFF; }
    .site-header-m2.is_absolute .nav-item a:hover, .site-header-m2.is_absolute .nav-item a.active {
      color: #f51a64; }

.scrolldown.scrolled .site-header-m2.is_absolute {
  background: white; }
  .scrolldown.scrolled .site-header-m2 .nav-item a {
    color: #000000; }
    .scrolldown.scrolled .site-header-m2 .nav-item a:hover, .scrolldown.scrolled .site-header-m2 .nav-item a.active {
      color: #f51a64; }

.carousel-cover {
  position: relative;
  z-index: 1;
  font-size: 0.7em; }
@media only screen and (min-width: 769px) {
  .carousel-cover {
    font-size: 0.8em; } }
@media only screen and (min-width: 1025px) {
  .carousel-cover {
    font-size: 1em; } }
.carousel-cover .carousel.image-bg-cover .carousel-item {
  height: 100vh;
  min-height: 600px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }
  .carousel-cover .carousel.image-bg-cover .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 400ms, -webkit-backdrop-filter 400ms, -webkit-backdrop-filter 400ms; }
  .carousel-cover .carousel.image-bg-cover .carousel-item.lazyloaded::after {
    filter: none;
    backdrop-filter: none; }
.carousel-cover.show-content-bellow .carousel-item .carousel-caption {
  display: none !important; }
.carousel-cover.show-content-bellow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
  z-index: 2; }
.carousel-cover .content-bellow {
  position: absolute;
  top: calc(50% - 150px);
  font-size: 1.5em;
  color: #FFF;
  text-shadow: 0 0 1em #000;
  z-index: 2;
  left: 0;
  right: 0;
  text-align: center; }
  .carousel-cover .content-bellow .title {
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 0.8em; }
  .carousel-cover .content-bellow .sup-title {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em; }
  .carousel-cover .content-bellow .container-button {
    font-size: 0.8em; }
    .carousel-cover .content-bellow .container-button .btn {
      font-size: inherit;
      padding: 0.5em 0.8em;
      font-weight: 600;
      text-shadow: none; }

@media only screen and (max-width: 768px) {
  .zone-custom-template {
    position: relative;
    z-index: 2;
    background: inherit;
    padding-top: 1px;
    padding-bottom: 1px; } }
.zone-custom-template .sectionspace {
  margin-top: 60px;
  margin-bottom: 60px; }

.rx-logos {
  padding: 0px 8px; }
  .rx-logos .rx-logo {
    width: 27px;
    height: 27px;
    margin-left: 0px; }
  .rx-logos i {
    color: #908d8d;
    font-weight: 600; }
    .rx-logos .facebook:hover i {
      color: #3b5998; }
  .rx-logos .twitter:hover i {
    color: #1da1f2; }
.rx-logos .dribbble:hover i {
  color: #ea4c89; }
.rx-logos .pinterest:hover i {
  color: #BD081C; }

.footer-menu-rx {
  font-size: 0.938em;
  background: #112748;
  color: #FFF; }
  .footer-menu-rx .sectionspace {
    padding-top: 60px;
    padding-bottom: 30px; }
  .footer-menu-rx a {
    color: #FFF; }
    .footer-menu-rx a:hover {
      color: #f51a64; }
  .footer-menu-rx .footer-menu {
    margin-bottom: 30px; }
    .footer-menu-rx .footer-menu .nav-link {
      color: #FFF;
      font-weight: 600;
      padding: 0.5rem 1em;
      min-width: 240px; }
    @media only screen and (min-width: 992px) {
      .footer-menu-rx .footer-menu .nav-link {
        min-width: 100px; } }
    .footer-menu-rx .footer-menu .nav-link:hover {
      color: #f51a64; }
    .footer-menu-rx .footer-menu .rx-test {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 1em; }
      .footer-menu-rx .footer-menu .rx-test a {
        display: block;
        line-height: 1; }
      .footer-menu-rx .footer-menu .rx-test a i {
        padding-right: 10px;
        color: #FFF; }
      .footer-menu-rx .footer-menu .rx-test .fa-instagram {
        font-size: 1.3em; }
      .footer-menu-rx .footer-menu .rx-test .fa-linkedin-in {
        font-size: 1.2em; }
      .footer-menu-rx .footer-menu .rx-test a:last-child i {
        padding-right: 0; }
  .footer-menu-rx .footer_end .site-name {
    text-transform: capitalize; }
