@import "defaut/loader_model1.scss";
@import "defaut/defaultStyle.scss";
.dialog-off-canvas-main-canvas > header.header{
	position: relative;
    z-index: 2;
}
.site-header-m2 {
  position: relative;
  font-size: 0.938em;
  background: #FFF;
  
  &.fixe-menu{
  	position: fixed;
    width: 100%;
    top:0;	
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
  }
	.items{
 		flex-wrap: wrap;
 		@include media-min(DD) {
 			flex-wrap: unset;
 		}
 		> .item.center{
 			@include media-max(XS) {
 				order: 3;
    			width: 100%;
    			flex: 0 0 100%;	
    		}
 		}
 		> .item.right{
 			margin-top: 1.2em;
 			@include media-min(DD) {
 				margin-top: 0;	
 			}	
 		}
	 	> .item > div{
	 		align-items: baseline !important;	
	 		@include media-min(DD) {
	 			align-items: center !important;
	 		}
	 	}
 	}

  img.logo {
    margin: 0.5em;
    max-width: 120px;
    max-height: 60px;
  }

  .navbar {
    padding: 0;
    width: 100%;
    @include media-min(SM) {
    	width: auto;
    }
	button.navbar-toggler{
		position: absolute;
    	top: -4em;
    	left: 50%;
    	margin: 1em 0;	
    	@include media-min(SM) {
    		position: relative;	
    		top: auto;
    		left: auto;
    	}
		
	}
    .nav-item {
      a {
        color: #000000;
        font-weight: 600;

        &:hover, &.active {
          color: $link_color;
        }
      }

      >a {
      	padding: 0.8em 1em;
      	@include media-min(DD) {
        	padding: 2.2em 1em;
        }
      }
    }
    .dropdown-item{
   		padding: 0.8em 1em;
   	}
  }
 .navbar-brand{
	margin-right: 0;
 }

 /**
  * select-langue
  */
 .select-langue{
 	@include select_langue();
 	a.nav-link{text-transform: lowercase;}
 }

	&.is_absolute{
  	@include transition();
  	background: rgba(255, 255, 255, 0.14);	
  	 .nav-item {
  	 	a {
        color: #FFF;
        &:hover, &.active {
          color: $link_color;
        }
      }
  	 }
  }

}
.scrolldown.scrolled{
	.site-header-m2{
		&.is_absolute{
		  	background: rgba(255, 255, 255, 1);	
		}	
		.nav-item {
	  	 	a {
	        color: #000000;
	        &:hover, &.active {
	          color: $link_color;
	        }
	      }
	  	 }
	}
}

.carousel-cover{
	position: relative;
	z-index: 1;
	font-size:0.7em;
	
	@include media-min(MD) {
		font-size:0.8em;
	}

	@include media-min(MS) {
		font-size:1em;
	}
	
	.carousel.image-bg-cover{		
		.carousel-item{
			height:100vh;
			min-height:600px;
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
			@include load_progressive_image();
		}
	}
	&.show-content-bellow{
		.carousel-item{
			.carousel-caption{
				display:none !important;	
			}			
		}	
		&::before{
			content:"";
			position:absolute;
			top:0;
			right:0;
			left:0;
			bottom:0;
			background:rgba(0,0,0, 1);
			opacity:0.4;	
			z-index:2;
		}
	}
	.content-bellow{
		position: absolute;
    	top: calc(50% - 150px);
    	font-size: 1.5em;
    	color: #FFF;
    	text-shadow: 0 0 1em #000;	
    	z-index:2;
    	left: 0;
    	right: 0;
    	text-align:center;
    	.title{
    		font-size:2.5em;
    		font-weight:900;	
    		margin-bottom: 0.8em;
    	}
    	.sup-title{
    		max-width: 900px;
    		margin-left: auto;
    		margin-right: auto;
    		margin-bottom: 1em;
    	}
    	.container-button{
    		font-size: 0.8em;
    		.btn{
    			font-size: inherit;
				padding: 0.5em 0.8em;
				    font-weight: 600;
    			text-shadow: none;
    			
    		}	
    	}
	}
}
.zone-custom-template{
	@include media-max(SM) {		
		position: relative;
    	z-index: 2;
    	background: inherit;
    	padding-top: 1px;
    	padding-bottom: 1px;
    }
	.container{
		//max-width: 992px !important;
	}
   .sectionspace{
   		margin-top:$margin_top;
   		margin-bottom: $margin_bottom;
   	}
   
}

.rx-logos {
  padding: 0px 8px;

  .rx-logo {
    width: 27px;
    height: 27px;
    margin-left: 0px;
  }

  i {
    color: $text_light;
    font-weight: 600;
  }

  .facebook:hover {
    i {
      color: #3b5998;
    }
  }

  .twitter:hover {
    i {
      color: #1da1f2;
    }
  }

  .dribbble:hover {
    i {
      color: #ea4c89;
    }
  }

  .pinterest:hover {
    i {
      color: #BD081C;
    }
  }



}
.footer-menu-rx{
	font-size: 0.938em;
	background:$color1;
	color:#FFF;
	.sectionspace{
		padding-top:$margin_top;
		padding-bottom:$margin_bottom*0.5;	
	}	
	a{
		color:#FFF;
		&:hover{
			color:$color2;	
		}	
	}

	.footer-menu{
		margin-bottom:$margin_bottom*0.5;
		.nav-link{
			color:#FFF;
			font-weight: 600;
			padding: 0.5rem 1em;
			min-width: 240px;
			@include media-min('DD'){
				min-width: 100px;	
			}
			&:hover{
				color:$color2;
			}
		}
		.rx-test{
			padding-left:1em;
			padding-right:1em;
			font-size: 1.0em;
			a{
				display:block;
				line-height: 1;
			}
			a i{
				padding-right: 10px;
    			color: #FFF;
    		}
    		.fa-instagram{
    			font-size: 1.3em;
    		}
    		.fa-linkedin-in{
    			font-size: 1.2em;
    		}
    		a:last-child i{
    			padding-right: 0;
    		}
		}
	}
	.footer_end{
		.site-name{
			text-transform: capitalize;	
		}
	}
}