// charge les components, functions ...
//@import "defaut/loader_model1.scss"; 
//@import "defaut/defaultStyle.scss";
/*
body {
	font-size: 1em;

	h1 {
		font-weight: 700;
	}

	h2,
	h3 {
		font-weight: 600;
	}

	a {
		text-decoration: none !important;
	}

	dl,
	ol,
	p,
	ul {
		margin-top   : 0;
		margin-bottom: 1.8em;
	}

	.hidden {
		display: none !important;
	}
}
/**/