{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="container">
	<div class="cart-empty-page h2 jumbotron my-5">
      {{ 'Your shopping cart is empty.'|t }}
    </div>
</div>
