<div class="card-data">
	{% if content.image %}
		<div class="card-data--image">{{ content.image }}</div>
	{% endif %}
	{% if content.title %}
		<h3 class="card-data--title">{{ content.title }}</h3>
	{% endif %}
	{% if content.description %}
		<div class="card-data--description">{{ content.description }}</div>
	{% endif %}
</div>