<div class="container-two-column">
    <div class="row two-column">
      <div class="col-md-4 main-region">
        <div>{{ content.main }}</div>
      </div>
      <div class="col-md-8 sidebar-region">
        <div>{{ content.sidebar }}</div>
      </div>
    </div>
</div>