<div class="dropdown">
  <a class="btn {{ orther_vars.button_class }} dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ data }}</a>
  {{ menu }}
</div>

