{#
/**
 * @file
 * Default theme implementation for checkout panes.
 *
 * Available variables:
 * - elements: The checkout pane's form elements.
 *
 * @ingroup themeable
 */
#}
{{ elements }}
{{ attach_library('login_rx_vuejs/login_register_small') }}
<section class="mx-4"> <div id="appLoginRegister" ></div> </section>