<div{{attributes}}>
  <div class="region-before-main">
    {{ content.before_main }}
  </div>
  <div class="region-main">
    {{ content.main }}
  </div>
  <div class="region-after-main">
    {{ content.after_main }}
  </div>
</div>