{% if image.img_url %}
	{% set img_bg = image.img_url %}
{% else %}
	{% set img_bg = '' %}
{% endif %}
<section class="section header-node" style="background-image:url('{{ img_bg }}')">
	<div class="container">
		{% if content_top %} {{ content_top | raw }} {% endif %}
	    {% if content_center %} {{ content_center | raw }} {% endif %}
	    {% if content_bottom %} {{ content_bottom | raw }} {% endif %}
	</div>
</section>