@use "./drush_site_install_variables.scss" as *;
@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss";

.breadcrumb {
    margin-bottom: 0 !important;

    .breadcrumb-list {
        gap: 5px;

        li {
            position: relative;
            padding-left: 25px;
            overflow: hidden;

            &:first-child {
                padding-left: 0;

                &::before,
                &::after {
                    content: none;
                }
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 14px;
                width: 2px;
                left: 10px;
                background-color: $gray-500;
                border-radius: 50%;
            }

            &::before {
                top: 0;
                transform: translateY(-1px) rotate(-56deg);
            }

            &::after {
                bottom: 0;
                transform: translateY(-1px) rotate(56deg);
            }

            a {
                text-decoration: none;
            }
        }

        .translate-2 {
            transform: translateY(2px);
        }

        svg {
            color: currentColor;
            width: 16px;
            aspect-ratio: 1;
        }
    }
}