@use "./drush_site_install_variables.scss" as *;
@use "@stephane888/wbu-atomique/scss/bootstrap-all.scss";
@use "./custom.scss";
@use "./input-style.scss";
@use "./node--full.scss";


.cforge-bg-light {
	background-color: $light !important;

	&::before {
		background-color: $light !important;
	}
}

.cforge-bg-gray-200 {
	background-color: $gray-200 !important;

	&::before {
		background-color: $gray-200 !important;
	}
}

.cforge-bg-gray-300 {
	background-color: $gray-300 !important;

	&::before {
		background-color: $gray-300 !important;
	}
}

.cforge-bg-gray-400 {
	background-color: $gray-400 !important;

	&::before {
		background-color: $gray-400 !important;
	}
}

.with-svg {
	position: relative;
	background-color: $light;

	&::before {
		content: "";
		position: absolute;
		width: 50px;
		aspect-ratio: 1;
		bottom: 0;
		transform: translate(-50%, 50%) rotate(45deg);
		background-color: $light;
		left: 50%;
		z-index: 1;
	}
}

.page-front-body {
	@include media-min(SM) {
		padding-block: 50px 70px;
	}
}

.block-social-link {
	.socials--field {
		gap: 10px;

		.social-link {
			border: 2px solid $gray-600;
			padding: 5px;
			color: $gray-600;
			border-radius: 50%;
			transition: all .3s ease;

			svg {
				width: 32px;
				aspect-ratio: 1;
			}

			&:hover {
				color: $wbu-color-primary;
				border-color: $wbu-color-primary;
			}
		}
	}
}


.page-footer {

	.cforge-footer-content {
		a {
			color: $wbu-color-secondary;

			&:hover {
				color: $wbu-color-thirdly;
			}
		}
	}

	.cforge -footer-col {
		gap: 30px;
	}
}

nav {

	ul.cforge-menu {
		margin: 0;
		margin-left: 0;

		.menu-item {
			a {
				color: inherit;

				&:hover {
					color: $wbu-color-thirdly;
					text-decoration: none;
				}
			}
		}
	}
}

#wrapper {
	.unformatted-view-article {
		@extend .col-sm-6;
	}

	.no-side-region {
		.unformatted-view-article {
			@extend .col-sm-3;
		}
	}
}

h1.page-title {
	border-left: 2px solid $wbu-color-primary;
	padding-left: 15px;
	font-weight: bold;
}

#page-sidebar_right {
	&>div {

		&>div,
		&>nav {
			margin-bottom: 30px;

			h3 {
				border-bottom: 3px solid $wbu-color-primary;
				padding-bottom: 10px;
			}
		}
	}

	.menu--account,
	.cforge-menu {
		li {
			a {

				padding: 10px 20px;
				display: inline-block;
				width: 100%;
				transition: all .15s ease;
				font-weight: 600;
				text-decoration: none;
				color: $dark;

				&:hover {
					background-color: $wbu-color-primary;
					color: $light !important;
				}
			}
		}
	}

	.cforge-menu {
		.menu-item {
			a {
				padding-block: 2px;
			}
		}
	}
}

article.comment {
	border-top: 1px solid $gray-400;
}

.indented {
	article.comment {
		position: relative;
		border: none;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: -25px;
			width: 10px;
			background-color: $wbu-color-primary;
		}
	}
}

.comment__meta {
	.comment-user-profil {
		gap: 20px;

		.user-initial {
			width: 50px;
			aspect-ratio: 1;
			position: relative;
			border-radius: 50%;
			background-color: $gray-600;
			color: $light;
			font-weight: bold;
			line-height: 3rem;
			font-size: 3rem;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}

			span {
				line-height: inherit;
				font-size: inherit;
				left: 0;
				right: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.region-footer-col {
	gap: 50px;
	flex-direction: wrap;
}


.cforge-table {
	tr {

		td,
		th {
			padding-block: 1.8rem;
		}
	}

	@include media-max(tablet) {
		thead {
			display: none;
		}

		tr {
			margin-bottom: 10px;
			border-bottom: 1px solid $dark;

			td {
				width: 100%;
				display: flex;
				justify-content: space-between;

				&::before {
					content: attr(data-label);
				}
			}
		}
	}
}